<div class="valign-wrapper bgimg">
    <div class="center-align middle">
        <h1>Something's cooking!</h1>
        <p>Watch this space...</p>
        <hr class="comsoon">
        <p id="demo"></p>
    </div>
</div>

<script>
    let deadline = new Date("aug 14, 2020 20:00:00 GMT+05:30").getTime();

    let x = setInterval(() => {

        let now = new Date().getTime();
        let t = deadline - now;
        // let days = Math.floor(t / (1000 * 60 * 60 * 24));
        let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((t % (1000 * 60)) / 1000);
        document.getElementById("demo").innerHTML = hours + "h " + minutes + "m " + seconds + "s";

        if (t < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "TIME'S UP";
        }
    }, 1000);
</script>