html {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 10px 0 !important;
}

i.footer {
    margin-right: 4px !important;
    color: #fff;
}

.footer-copyright {
    color: #fff;
}

.page-footer,
.page-footer-login,
.page-header,
.page-header-login {
    background-color: #f4853a;
}

@media (max-width:1000px) {
    /* .page-footer-login {
        margin-top: 400px;
    } */

}

.login-container,
.rules-container {
    width: 400px;
    margin-top: 200px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.main-body {
    height: 100vh;
}

.divider {
    background-color: red;
}

.desc {
    font-size: 18px !important;
    color: black !important;
}

.ques-input {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.bgimg {
    background-image: url('../img/comsoon.jpg');
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    font-family: "courier new", Courier, monospace;
    font-size: 25px;
    margin: 0;
    color: white;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comsoon {
    margin: auto;
    width: 40%;
}

.login-div {
    height: 100%;
    background-image: url('../img/login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    /* margin-bottom: -20px; */
}

#form {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

#countdown {
    color: #0277bd;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #0277bd;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #0091ea;
    display: inline-block;
}

#signin-box,
#rules-box {
    border-radius: 5px;
}

smalltext {
    padding-top: 5px;
    font-size: 16px;
}